<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/index.css">
    </head>
    <body>

       <div id = "titlelog">
            <h1> CharaKeep</h1>
            <!-- if logged in 
                <h4> Welcome, <%= #{@user.name} <h4> 
                else 
                <h4> Welcome! </h4> -->
            <button id = "buttolog"> Login   
            </button>
       </div>
       
       <div id = "actions">
            <button id = "add"> Add </button>
            <button id = "edit"> Edit </button>
            <button id = "delete"> Delete </button>
       </div>
   
       <div id = "deets">
            <div>
                <img id = "profile" src = "<%= #{@Character.img %>"      alt="character profile picture"> 
            </div> 
            <div id = "basics">
                <div>
                    <p>
                         <%= #{@Character.name} %>
                    </p> 
                </div>
                <div>
                    <p> 
                        <%= #{@Character.race} %>
                    </p>
                </div>             
                <div>
                    <p>
                        <%= #{@Character.dndclass}%>
                    </p>
                </div>
                <div>
                    <p> 
                        <%= #{@Character.level} %>
                    </p>
                </div>
            </div>

            <div id = "stats">
                <div>
                    <p>AGI: <%= #{@Character.stat[0]} %></p>
                </div>  
                <div>
                    <p>CHA:  <%= #{@Character.stat[1]} %></p>
                </div>
                <div>
                    <p>DEX: <%= #{@Character.stat[2]} %></p>
                </div>
                <div>
                    <p>INT: <%= #{@Character.stat[3]} %></p>
                </div>
                <div>
                    <p>STR: <%= #{@Character.stat[4]} %> </p>
                </div>
                <div>
                    <p>WIS:  <%= #{@Character.stat[5]} %></p>
                </div>  
            </div>

            <div id = "dice">
                <div id = "col1">
                    <div>
                        <p>D4:</p><p>x</p><p>=</p>
                    </div>
                    <div>
                        <p>D6:</p><p>x</p><p>=</p>
                    </div>
                    <div>
                        <p>D8:</p><p>x</p><p>=</p>
                    </div>  
                    <div>
                        <p>D10:</p><p>x</p><p>=</p>
                    </div>
                    
                </div>
                <div id ="col2">
                    <div>
                        <p>D12:</p><p>x</p><p>=</p> 
                    </div>
                    <div>
                        <p>D20:</p><p>x</p><p>=</p>
                    </div>
                    <div>
                        <p>D00:</p><p>x</p><p>=</p>
                    </div>  
                </div>
            </div> 
       </div>

       <div id = "legend">
           <div id = "history">
                <h4>History</h4>
                <p>
                    <%= #{@Character.history} %>
                </p>
            </div>

           <div id = "achieve">
               <h4> Achievements</h4>
               <ul>
                   <li>No achievements...</li>
               </ul>
               <textfield></textfield>
               <button id = "buttchieve" >Add</button>
           </div>
       </div>

   
        
        <script src="/src/index.js" async defer></script>
    </body>
</html>